server {
    listen  80;
    root {{ nginx.docroot }};
    index index.html index.htm index.php;
    server_name {{ nginx.servername }};

    location / {
        try_files $uri $uri/ /index.html/index.htm/index.php?$query_string;
    }

    location ~ \.php$ {
        set_real_ip_from   192.168.30.21;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass 127.0.0.1:9010;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
}
